.Light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 150px;
    padding-bottom: 300px;
    padding-top: 20px;
    color: black;
}

.Dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 150px;
    padding-bottom: 300px;
    padding-top: 20px;
    color: white;
}
